
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1 {
  font-family: 'Satisfy', cursive;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.headerImage {
  background-image: url(./Pictures/feetWhiteSand.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
}

.headerText h1 {
  text-align: center;
  padding-top: 2em;
  font-size: 100px;
  font-weight: 500;
}

.aboutSection {
  padding-top: 2em;
  background-color: rgb(182, 226, 226);
}

.sectionText {
  width: 50%;
  margin: 1em auto;
  text-align: center;
  padding-bottom: 1em;
}

.services {
  width: 50%;
  margin: 1em auto;
}

.footer {
  background-color: rgb(182, 226, 226);
  display: flex;
  justify-content: center;
}


