@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1 {
  font-family: 'Satisfy', cursive;
}
p {
  font-family: 'Times New Roman', Times, serif;
}

.headerImage {
  background-image: url(./Pictures/feetWhiteSand.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10em;
}

.headerText h1 {
  text-align: center;
  padding-top: 2em;
  font-size: 100px;
  font-weight: 500;
}

.aboutSection {
  padding-top: 2em;
  background-color: rgb(182, 226, 226);
}

.sectionText {
  width: 50%;
  margin: 1em auto;
  text-align: center;
  padding-bottom: 1em;
}
.sectionText p {
  font-size: 25px;
}

.sectionTitle {
  margin-left: 3em;
}

.card-group {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 2em;
}
.footer {
  background-color: rgb(182, 226, 226);
  display: flex;
  justify-content: center;
}

.bookBtn {
  display: flex;
  justify-content: center;
  margin: 5em 0 5em 0;
}

.bookForm {
  width: 70%;
  margin: 4em auto;
}

.btn {
  margin: 2em auto;
}

.btnForm {
  margin-right: 2em;
}

@media (max-width: 800px) {
  .headerText h1 {
    font-size: 50px;
  }
  .sectionText p {
    font-size: 15px;
  }

  .colServices {
    display: flex;
    justify-content: center;
  }
}
